<% layout('/layouts/adminboilerplate') %>

    <div class="container mt-5">
        <!-- <div class="container m-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Patient
            </button>
        </div> -->
        <div class="card">
            <div class="card-header">
                <h5>Patient List</h5>
            </div>
            <div class="card-body">

                <form action="">
                    <input type="text" name="fname" id="fname" placeholder="Firstname">

                    <input type="text" name="lname" id="lname" placeholder="Lastname">
                    <button class="btn btn-outline-info">Search</button>
                </form>

                <br>
                <table class="table mb-0 table-bordered">
                    <tr>
                        <!-- <th>CaseNo</th> -->
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No.</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>BirthDate</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                    <tbody class="table-group-divider">
                        <% for (let customers of allCustomer) {%>
                            <tr>
                                <!-- <td></td> -->
                                <td>
                                    <%= customers.lname %>,
                                        <%= customers.fname %>
                                            <%= customers.mname %>
                                </td>
                                <td>
                                    <%= customers.email %>
                                </td>
                                <td>
                                    <%= customers.contact %>
                                </td>
                                <td>
                                    <%= customers.address %>
                                </td>
                                <td>
                                    <%= customers.gender %>
                                </td>
                                <td>
                                    <%= customers.birthdate %>

                                </td>
                                <td>
                                    <%= customers.age %>
                                </td>

                                <td>
                                    <form action="/Allcustomer/<%= customers._id %>?_method=DELETE" method="POST">
                                        <div class=" btn-group">
                                            <a href="/Allcustomer/<%= customers._id %>"
                                                class="btn btn-group btn-info">Edit</a>

                                            <a href="/Processcustomer/<%= customers._id %>"
                                                class="btn btn-group btn-secondary">Select
                                                Patient</a>

                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="container m-3 rounded table-responsive">
        </div>
    </div>

    <!-- MODAL ADD CUSTOMER FORM  -->